.userImg{
    margin-left: 15px;
    border-radius: 70%;
    margin-right: 10px;
    width: 50%;
    height: 50%;
}

.userDetails{
    display: flex;
    align-items: stretch;
    
}

.newEditorSaved{
    display: flex;
    align-items: flex-end;
}

.row{
    margin: 0;
    padding-top:1% ;
    padding-bottom: 1%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons{
    color: #0a3853;
    padding-bottom: 23px;
}

.homeContent h1{
    text-align: center;
    margin-top: 10px;
}

.homeContent p{
    margin: 50px;
    text-align: center;
}

.homeContent p:last-child{
    margin-bottom: 30px;
}

.plus{
    border-radius: 50%;
    
}

.editorTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centreEditor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.runButton{
    display: flex;
    justify-content: center;
}

.io{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.spinner-box{
    padding-top: 140px;
    padding-right: 300px;
}
